@model CRM_Crud.Models.Curso

@{
    ViewData["Title"] = "Editar curso";
}

<div class="item">
    <div class="tablehead">
        <h1 class="titulomid">Curso</h1>
        <a asp-action="Index">Voltar</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="titulo" class="control-label"></label>
                    <input asp-for="titulo" class="form-control" />
                    <span asp-validation-for="titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="data_inicio" class="control-label"></label>
                    <input asp-for="data_inicio" class="form-control" id="input_data_inicio" />
                    <span asp-validation-for="data_inicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="data_termino" class="control-label"></label>
                    <input asp-for="data_termino" class="form-control"  id="input_data_termino" />
                    <span asp-validation-for="data_termino" class="text-danger" id="label_data_termino"></span>
                </div>
                <div class="form-group">
                    <label asp-for="periodo_letivo" class="control-label"></label>
                    <input asp-for="periodo_letivo" class="form-control" />
                    <span asp-validation-for="periodo_letivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Categoria</label>
                    <select id="categoria" asp-for="categoria" class="form-control">
                        <option value="@Categoria.Agendado">Agendado</option>
                        <option value="@Categoria.ENEM">Enem</option>
                        <option value="@Categoria.CRM4U">CRM4U</option>
                        <option value="@Categoria.Tradicional">Tradicional</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="qnt_de_inscricoes" class="control-label"></label>
                    <input asp-for="qnt_de_inscricoes" class="form-control" />
                    <span asp-validation-for="qnt_de_inscricoes" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/verificaData.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js"></script>
}
