@model CRM_Crud.Models.Usuario

@{
    ViewData["Title"] = "Cadastro";

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    if (TempData["Erro"] != null)
    {
        <script>
            alertify.error("@TempData["Erro"].ToString()");
        </script>
    }
}

<div class="login">
    <h1 style="text-align:center;font-size:25px">Cadastro</h1>
    <br />
    <hr />
    <br />
    <form asp-action="Cadastro" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="login" class="control-label"></label>
            <input asp-for="login" class="form-control" />
            <span asp-validation-for="login" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="senha" class="control-label"></label>
            <input asp-for="senha" type="password" id="input_senha" class="form-control" />
            <span id="lbl_senha" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label">Confirmar Senha</label>
            <input type="password" id="input_Consenha" class="form-control" />
            <span id="lbl_confirmar_senha" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" style="width:100%" value="Cadastrar" id="btn_cadastrar" class="btn btn-success" disabled/>
        </div>
    </form>
    <br />
    <span style="display:flex;gap:20px">
        <label style="color:#404040">Já tem uma conta? </label>
        <a style="text-decoration:none;" asp-action="Login">Fazer Login</a>
    </span>
</div>


@section scripts {
    <script src="~/js/confirmarSenha.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}