@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e7e7e7;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.menu_lateral .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
}

    .menu_lateral .top_navbar .botao_menu {
        width: 70px;
        height: 100%;
        background: #292929;
        padding: 15px 17px;
        cursor: pointer;
    }

        .menu_lateral .top_navbar .botao_menu div {
            width: 35px;
            height: 4px;
            background: #fff;
            margin: 5px 0;
        }

    .menu_lateral .top_navbar .top_menu {
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

        .menu_lateral .top_navbar .top_menu .logo a {
            color: #292929;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 3px;
            font-family: 'Montserrat', sans-serif;
        }

.menu_lateral .sidebar {
    position: fixed;
    background: #292929;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
}

    .menu_lateral .sidebar ul li a {
        display: block;
        padding: 20px;
        color: #fff;
        position: relative;
        margin-bottom: 1px;
        white-space: nowrap;
    }

        .menu_lateral .sidebar ul li a:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: #808080;
            display: none;
        }

        .menu_lateral .sidebar ul li a span.icon {
            margin-right: 10px;
            display: inline-block;
        }

        .menu_lateral .sidebar ul li a span.title {
            display: inline-block;
        }

        .menu_lateral .sidebar ul li a:hover, .menu_lateral .sidebar ul li a.active {
            background: #444444;
            color: #fff;
        }

            .menu_lateral .sidebar ul li a:hover:before, .menu_lateral .sidebar ul li a.active:before {
                display: block;
            }

.menu_lateral .main {
    width: calc(100% - 200px);
    margin-top: 20px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

    .menu_lateral .main .item {
        background: #fff;
        margin-bottom: 10px;
        padding: 3rem;
        font-size: 14px;
        line-height: 22px;
    }

.menu_lateral.colapse .sidebar {
    width: 70px;
}

.menu_lateral.colapse .sidebar ul li a {
    text-align: center;
}

.menu_lateral.colapse .sidebar ul li a span.icon {
    margin: 0;
}

.menu_lateral.colapse .sidebar ul li a span.title {
    display: none;
}

.menu_lateral.colapse .main {
    width: calc(100% - 70px);
    margin-left: 70px;
    display: block;
}

.tablehead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.titulomid {
    font-size: 30px;
    text-align: center;
}

a {
    display: flex;
    align-items: center;
}

.form-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    padding-left: 30%;
    padding-right: 30%;
}

.control-label {
    font-size: 18px;
    margin-bottom: 0.2rem;
}

.criar {
    padding: 0.7rem;
    background-color: #0bd425;
    text-decoration: none;
    color: #fff;
}

.cpf {
    filter: blur(0.17rem);
    transition:0.25s;
}

.editar_inscricao {
    width:100%;
    display: flex;
    gap:10px;
    justify-content:space-between;
}

.cpf:hover {
    filter: blur(0);
}

.criar:hover {
    text-decoration: none;
    color: #fff;
}

form {
    width: 100%;
}

.informations div {
    display: flex;
    gap: 5px;
}

.sortable-theme-bootstrap {
    width: 100%;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    height:3rem;
}

.pesquisa select {
    height: 100%;
    padding: 0.5rem;
    outline: 0;
    border: 0;
    border-right: 1px solid #e0e0e0;
    background: #e7e7e7;
}

.pesquisa input {
    border: 0;
    outline: 0;
    height: 100%;
    padding: 0.5rem;
    width: 17rem;
    background: #e7e7e7;
}

.pesquisa button {
    border: 0;
    height: 100%;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    background: #1e81b0;
}

ol.step-progress-bar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ol.step-progress-bar li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    flex: 1 1;
    position: relative;
    margin: 0 5px 0;
}

ol.step-progress-bar li span.content-bullet {
    border-radius: 100%;
    display: block;
    text-align: center;
    transform: translateX(-50%);
    margin-left: 50%;
}
        
ol.step-progress-bar li span.content-stick {
    position: absolute;
    display: block;
    width: 100%;
    height: 8px;
    z-index: -1;
    transform: translate(-50%, -50%);
}

ol.step-progress-bar li.step-past *,
ol.step-progress-bar li.step-present .content-stick {
    color: #2dcd73;
    background: #2dcd73;
}

ol.step-progress-bar li.step-present * {
    color: #4c92d9;
    background: #4c92d9;
}

ol.step-progress-bar li .content-bullet {
    color: white;
}

ol.step-progress-bar li.step-future * {
    color: #869398;
    background: #dde2e3;
}

ol.step-progress-bar li .content-wrapper {
    background: transparent;
}

ol.step-progress-bar.mid li .content-bullet {
    width: 37px;
    line-height: 37px;
}

ol.step-progress-bar.mid li {
    font-size: 100%;
}

ol.step-progress-bar.mid li .content-stick {
    top: 18.5px; 
    height: 6px;
}

.main_login{
    width:100%;
    height:100%;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    font-size:10px;
    padding: 3.5rem;
}

.conta {
    display: flex;
    gap: 30px;
    float: right;
    margin-right: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.conta:hover {
    color: black;
    text-decoration: none;
}

.sair:hover {
    color: black;
    text-decoration: none;
}

    @media only screen and (max-width: 600px) {
        .col {
            padding-left: 0;
            padding-right: 0;
        }
    }