@model CRM_Crud.Models.Inscricao

@{
    ViewData["Title"] = "Editar inscrição";
}

<<div class="item">
    <div class="tablehead">
        <h1 class="titulomid">Inscrição</h1>
        <a asp-action="Index">Voltar</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <select id="status" asp-for="status" class="form-control">
                        <option value="@status.Inscrito">Inscrito</option>
                        <option value="@status.Classificado">Classificado</option>
                        <option value="@status.Convocado">Convocado</option>
                        <option value="@status.Matriculado">Matriculado</option>
                    </select>
                </div>
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="curso_id" />
                <input type="hidden" asp-for="lead_id" />
                <input type="hidden" asp-for="data_de_inscricao" />
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/inscricao.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/navbar.js"></script>
}
