<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <title>CRM</title>
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger" id="navbarbtn">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    <a href="">CRM</a>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <a asp-controller="Lead" asp-action="Index" id="NavItemLead" class="active">
                        <img class="fas fa-book" src="https://img.icons8.com/ios-glyphs/20/ffffff/user--v1.png" alt="" />
                        <span class="title">Lead</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Curso" asp-action="Index" id="NavItemCurso">
                        <img src="https://img.icons8.com/ios-glyphs/20/ffffff/courses.png" alt="" />
                        <span class="title">Curso</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Inscricao" asp-action="Index" id="NavItemInscricao">
                        <img src="https://img.icons8.com/ios-glyphs/20/ffffff/inscription.png" alt="" />
                        <span class="title">Inscrição</span>
                    </a>
                </li>

            </ul>
        </div>
        <main role="main" class="main_container">
            @RenderBody()
        </main>
    </div>
    @section scripts {
        <script src="~/js/inscricao.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/navbar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }
    @RenderSection("scripts", required: true)
</body>
</html>
