@model CRM_Crud.Models.Lead

@{
    ViewData["Title"] = "Editar lead";
}

<div class="item">
    <div class="tablehead">
        <h1 class="titulomid">Lead</h1>
        <a asp-action="Index">Voltar</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Editar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefone" class="control-label"></label>
                    <input asp-for="telefone" id="input_telefone" class="form-control" />
                    <span asp-validation-for="telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cpf" class="control-label"></label>
                    <input asp-for="cpf" id="input_cpf" class="form-control" />
                    <span asp-validation-for="cpf" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#input_telefone").mask("(00) 00000-0000")
            $("#input_cpf").mask("000.000.000-00")
        })
    </script>
}